# Ignore temporary test repositories used by orb CLI tests
/tools/orb/bin/tmp-repo/
/tools/orb/bin/tmp-remote.git/
/tools/orb/bin/tmp-remote-clone/
/tools/orb/bin/tmp-conflict-remote.git/
/tools/orb/bin/tmp-conflict-remote-clone/
# Yarn PnP and cache artifacts
.pnp.cjs
.yarn/install-state.gz
.yarn/unplugged/

# Turborepo artifacts
.turbo/

# VSCode settings
.DS_Store
node_modules
**/dist/